@charset "UTF-8";
/* CSS Document */

/*Colors to be used 

	73	38	59	purple
	71	43	35	brown
	152	34	60	pink
	64	66	20	green
	176	95	36	orange
	177	180	89	light green


*/


/*import title font*/

@font-face{
    font-family: titleFont;
    src: url(../fonts/NeedleworkGood.ttf);
}

/*box model and defult font*/

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	font-family: 'Playfair Display', serif;
	
	max-width:100%;
}

/*tag adjustments*/
body{
	margin:0;
	padding:0;
	overflow:scroll;
	
}
p{
	color:#FFF;

}
hr{
	border-style:dotted;
	border-width: 1px;
	margin: 20px 10% 5px 10%;
	
}
#article li{
	clear:both;
}
h1{
	text-align:center;
	font-family:titleFont;
	color:rgb(73,38,59);
	font-size:4em;

}
h2 {
	color:#FFF;
	font:titleFont;
	width:80%;
	padding-left:10%;
}
h3{
	padding:5px 5px 5px 5px;
	font-size:2em;
}
h4{
	text-align:left;
}
/*Background formating and side images*/
#bg{
	background-color:rgba(210, 180, 140,.8);
	//background-image:url(../images/bgi.jpg);
	background-size:100%;
	height:100%;
	
}
.bgimageleft {
	clear: none;
	position: absolute;
	z-index: -10;
	margin:-10px;
	overflow:hidden;
	
}
.bgimageright{
	clear:both;
	position: absolute;
	z-index: -10;
	right: 0;
	top: 400px;
	width:13%;
	overflow:hidden;
}
#oranges{
	top:350px;
	left:0px;
	width:15%;
}
#asparagus{
		top:550px;
}
#tomato{
	top: 900px;
	left: -10px;
	width:13%;
}
#apples{
	top:1300px;
	right:-10px;
	width:15%;
}
/*header setup*/
#header{
	position:relative;
	margin-top:10px;
	//background-color:rgba(73,38,59,.5);
	height:250px;
	padding: 0 0 0 0;
	overflow:hidden;

}
#logo{
	position:relative;
	width:45%;
	min-width:400px;
	
	
	overflow: hidden;
	margin-left:26%;
}


/*main body container*/
.wrap{
	margin-top:5px;
	padding-left:20%;
	padding-right:0;
	width:100%;
	position:absolute;
	overflow:hidden;
	float:left;
}

/*Sidebar formatting*/
.sidebar{
	padding:5px 5px 5px 5px;
	display:inline;
	overflow:hidden;
	position:relative;
	float:left;
	margin-bottom:5%;
   width:280px;
   min-width:100px;
   margin-left:0px;
   margin-top:5px;
   background: rgba(177,180,89,.7);
   color: #fff;
   clear:none;
   border: 2px dashed #fff;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   box-shadow: 0 0 0 4px rgba(152,34,60,.7), 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   -moz-box-shadow: 0 0 0 4px rgba(152,34,60,.7), 2px 1px 6px 4px rgba(10,10,0,.5);
   -webkit-box-shadow: 0 0 0 4px rgba(152,34,60,.7), 2px 1px 6px 4px rgba(10,10,0,.5);

}

/*Center body box formatting*/
.container1{
	display:inline-block;
	padding:5px 5px 5px 5px;
	padding-left: 10px;
	position:relative;
	float:left;
   width:60%;
   min-width:250px;
   margin-left:0%;
   margin-right: 5%;
   margin-top:5px;
   margin-bottom:5%;
   background: rgba(176, 95, 36,.8);
   color: #fff;
   clear:none;
   border: 2px dashed #fff;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
  box-shadow: 0 0 0 4px rgba(176, 95, 36,.8), 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   -moz-box-shadow: 0 0 0 4px rgba(176, 95, 36,.8), 2px 1px 6px 4px rgba(10,10,0,.5);
   -webkit-box-shadow: 0 0 0 4px rgba(176, 95, 36,.8), 2px 1px 6px 4px rgba(10,10,0,.5);
   
   
}
/*text inside container*/
.container1 p{
	letter-spacing:.5px;
	font-size:1em;
	margin-left:5px;
	text-indent:3em;
}
h3 #paragraph{
	text-indent:3em;
}


/*images within a post*/
.postImage{
	float:left;
	height:auto;
	width: 40%;
	margin:10px;
	position:relative;
	min-width: 200px;
	overflow:hidden;
	border:groove;
	border-color:rgb(176,95,36);
	border-width:thick;
}
#right{
	float:right;
}

/*link button*/
 a.pageLink {
 	margin-top: 20px;
	margin-bottom: 20px;
	position:relative;
	text-align: center;
    text-decoration: none;
    padding: 4px;
    background-color:rgb(177,180, 89);
    color:#FFF;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
	width:50px;
}
a.pageLink:hover {		/*shadow animation*/
    box-shadow: 0 0 5px #000
}


/*menu bar*/
.menu{
	position:relative;
	width:77%;
	left:23%;
	vertical-align:middle;
	top:5px;
	font-weight:bold;
}
.menu ul{
	
	list-style-type:none;
	padding: 2px 2px 2px 2px;
	width:100%;
	
}

.menu li{
	overflow:hidden;
	padding:.5% .5% .5% .5% ;
	display:inline;
	
}
.menu a:link, .menu a:visited {
   position:relative;
    border:ridge;

	min-width:100px;
	border-color:#000;
    font-weight: bold;
    color: #FFFFFF;
    background-color:rgb(177,180, 89);
    text-align: center;
	padding:5px 2% 5px 2%;
    text-decoration: none;
    text-transform: uppercase;
	overflow:hidden;
	
}

.menu a:hover, .menu a:active {		/*hover animation*/
	padding-bottom:70px;
	display:visible;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;

    background-color:rgb(64,66,20);
}
/*drop down for window resize*/
nav select {
	/*hide drop down*/
  display: none;
  /*drop down formating*/
  background-color:rgb(177,180, 89);
  vertical-align:middle;
 position:relative;
    -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   margin-right:20%;
   margin-left:40%;
  width:20%;
  padding: 5px 5px 5px 5px;
  font-size:1.25em;
background: url(../images/arrow.png) 96% / 15% no-repeat rgb(177,180, 89);
}

nav select option{
	  padding: 5px 5px 5px 5px;
	  font-size:1em;
}
/**show drop down menu*/
@media (max-width: 1050px) {
  nav ul     { display: none; }
  nav select { display: inline-block;}
}


/*individual link images*/
#breadlogo:hover, #breadlogo:active{
	
	background-image:url(../images/breadlogo.png);
}
#saucelogo:hover, #saucelogo:active{
	
	background-image:url(../images/souplogo.png);

}
#pblogo:hover, #pblogo:active{
	background-image:url(../images/spreadlogo.png);
}
#homelogo:hover, #homelogo:active{
	background-image:url(../images/homelogo.png);
}
#aboutlogo:hover, #aboutlogo:active{
	background-image:url(../images/aboutlogo.png);
}
#breadlogo, #saucelogo, #pblogo, #homelogo, #aboutlogo{
	
	background-size:70%;
	background-repeat:no-repeat;
	background-position:center;
}

/*pinterst widget positioning*/
#pin{
	padding:5px;
}
/*tip Moose rotate*/

#tipMoose:hover, #tipMoose:active{
	-ms-transform: rotate(10deg); 
    -webkit-transform: rotate(10deg); 
    transform: rotate(10deg);
}
#secret{
	width:80%;
	display:none;
}


